h1, h2, h3 {
	margin: 1rem 0;
	font-weight: normal;
}

h1 {
	color: #0B598D;
	font-size: 2.7rem;
}

h2 {
	font-size: 2.2rem;
	color: var(--colorOrangeRed);
	border: var(--borderNone);
	border-bottom: var(--borderThin);
	border-image: var(--gradientOrange) 1;
}

h3 {
	color: var(--colorOrange);
	font-size: 2rem;
}