@import "base-elements.css";

.button {
	display: inline-block;
	padding: 0.5rem;
	background-color: #222222;
	border: 0.1rem solid;
	border-radius: 0.3rem;
}

.header__title {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 40%;
}

.main-navigation {
	width: 15rem;
	margin: 0 0 0 1rem;
	border: 0 none;
	border-right: 0.1rem solid;
	border-image: linear-gradient(180deg, #101, #0B598D, #101) 1;
}

.main-navigation a {
	display: block;
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-family: "Source Sans Pro", sans-serif;
}

.page-content {
	padding: 1rem;
	box-sizing: border-box;
}

.gist {
    padding: 0.5rem;
    border-radius: 0.5rem;
	color: cornflowerblue;
	background-color: #222;
}

.marginTop {
	margin-top: 1rem;
}