@import "global.css";
@import "navigation.css";

.page-content {
	padding: var(--spaceNormal);
	box-sizing: border-box;
}

.gist {
    padding: calc(var(--spaceNormal) / 2);
    border-radius: calc(var(--spaceNormal) / 2);
	color: var(--colorBlue);
	background-color: #222;
}