:root {
	font-size: 62.5%;
	
	--spaceNormal: 1rem;
	--borderThin: 0.1rem solid;
	
	--colorDark: #110011;
	--colorBlue: #6495ED;
	--colorBlueMedium: #11191e;
	--colorBlueDark: #0B598D;
	--colorOrange: #FFA500;
	--colorOrangeRed: #FF4500;
	
	--gradientOrange: linear-gradient(90deg, var(--colorDark), var(--colorOrange) 5%, var(--colorDark) 40%);
	--gradientHorizontalShort: linear-gradient(90deg, var(--colorDark), var(--colorBlueDark) 3%, var(--colorDark) 14%);
	
	--fontSerif: {
		font-family: "Lora", serif;
	};
	
	--fontSansSerif: {
		font-family: "Source Sans Pro", sans-serif;
	};
	
	--fontMonospace: {
		font-family: "monospace";
	};
	
	--borderNone: {
		border: 0 none;
	};
	
	--fullHeight: {
		height: 100%;	
	};
	
	--fontNormal: {
		font-weight: normal;
		text-decoration: none;
	};
}

html {
	@apply(--fullHeight);
	font-size: 1.6rem;
	background-color: var(--colorDark);
}

body {
	@apply(--fontSerif);
	@apply(--fullHeight);
	
	max-width: calc(var(--spaceNormal) * 150);
	margin: 0;
	
	overflow: auto;
	position: relative;
	
	color: #DDD;
	font-size: calc(var(--spaceNormal) * 2);
	background-color: var(--colorDark);
	
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	@apply(--fontNormal);
	
	margin: 1rem 0;
}

h1 {
	@apply(--borderNone);
	
	color: var(--colorBlueDark);
	font-size: calc(var(--spaceNormal) * 2.6);
	border-top: var(--borderThin);
	border-image: var(--gradientHorizontalShort) 1;
}

h2 {
	@apply(--borderNone);
	
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 1.8);
	border-bottom: var(--borderThin);
	border-image: var(--gradientOrange) 1;
}

h3 {
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 1.6);
}

ul {
	
}

dt {
	color: var(--colorOrange);
	font-style: italic;
}

dd {
	margin-left: calc(var(--spaceNormal) * 2);
}

a {
	@apply(--fontNormal);
	
	color: var(--colorBlue);
}

a:hover {
	color: var(--colorOrange);
}

a.active {
	color: var(--colorBlueDark);
}