
.header__title {
	position: absolute;
	font-family: var(--fontSerif);
	top: 1rem;
	right: 1rem;
	width: 40%;
}

.main-navigation {
	width: calc(var(--spaceNormal) * 15);
	margin: 0 0 0 var(--spaceNormal);
	border: var(--borderNone);
	border-right: var(--borderThin);
	border-image: var(--gradientBlueVertical) 1;
}

.main-navigation a {
	display: block;
	font-family: var(--fontSansSerif);
}

.button {
	display: block;
	font-family: var(--fontSansSerif);
	padding: calc(var(--spaceNormal) / 2);
	border-radius: calc(var(--spaceNormal) / 2);
}

