:root {
	font-size: 62.5%;

	--fontSerif: "Lora", serif;
	--fontSansSerif: "Source Sans Pro", sans-serif;

	--borderNone: {
		border: 0 none;
	};

	--borderThin: 0.1rem solid;

	--spaceNormal: 1rem;

	--colorDark: #101;
	--colorBlue: cornflowerblue;
	--colorBlueDark: #0B598D;
	--colorOrange: orange;
	--colorOrangeRed: orangered;

	--gradientOrange: linear-gradient(90deg, var(--colorDark), var(--colorOrange), var(--colorDark) 60%);
	--gradientHorizontalShort: linear-gradient(90deg, var(--colorDark), var(--colorBlueDark) 10%, var(--colorDark) 20%);
	--gradientBlueVertical: linear-gradient(180deg, var(--colorDark), var(--colorBlueDark), var(--colorDark));
}

html {
	height: 100%;
	font-size: 1.6rem;
	background-color: var(--colorDark);
}

body {
	height: 100%;
	max-width: calc(var(--spaceNormal) * 150);
	margin: 0;
	
	position: relative;
	overflow: auto;
	
	color: #DDD;
	font-size: calc(var(--spaceNormal) * 2);
	background-color: var(--colorDark);
	
	font-family: var(--fontSerif);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	margin: 1rem 0;
	font-weight: normal;
}

h1 {
	color: var(--colorBlueDark);
	font-size: calc(var(--spaceNormal) * 2.6);
	@apply(--borderNone);
	border-top: var(--borderThin);
	border-image: var(--gradientHorizontalShort) 1;
}

h2 {
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 1.8);
	@apply(--borderNone);
	border-bottom: var(--borderThin);
	border-image: var(--gradientOrange) 1;
}

h3 {
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 1.6);
}

ul {
	
}

dt {
	color: var(--colorOrange);
	font-style: italic;
}

dd {
	margin-left: calc(var(--spaceNormal) * 2);
}

a {
	color: var(--colorBlue);
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: var(--colorOrange);
}

a.active {
	color: var(--colorBlueDark);
}