html {
	height: 100%;
	overflow: hidden;
	font-size: 1.6rem;
	background-color: var(--colorDark);
}

body {
	height: 100%;
	max-width: calc(var(--spaceNormal) * 150);
	margin: 0;
	
	position: relative;
	overflow: auto;
	
	color: #DDD;
	font-size: calc(var(--spaceNormal) * 2);
	background-color: var(--colorDark);
	
	font-family: var(--fontSerif);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	margin: 1rem 0;
	font-weight: normal;
}

h1 {
	color: #0B598D;
	font-size: 2.7rem;
}

h2 {
	font-size: 2.2rem;
	color: var(--colorOrange);
	border: var(--borderNone);
	border-bottom: var(--borderThin);
	border-image: var(--gradientOrange) 1;
}

h3 {
	color: var(--colorOrange);
	font-size: 2rem;
}

ul {
	
}

dt {
	color: var(--colorOrange);
	font-style: italic;
}

dd {
	margin-left: calc(var(--spaceNormal) * 2);
}

a {
	color: var(--colorBlue);
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: var(--colorOrange);
}

a.active {
	color: var(--colorBlueDark);
}