.page-content {
	padding: var(--spaceNormal);
	box-sizing: border-box;
}

.gist {
    padding: calc(var(--spaceNormal) / 2);
    border-radius: calc(var(--spaceNormal) / 2);
	border-top: var(--borderThin) var(--colorBlueDark);
	border-bottom: var(--borderThin) var(--colorBlueDark);
	color: var(--colorBlue);
	background-color: #11191e;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.js-strict {
	color: #009c6b;
}

.js-bracket {
	color: var(--colorOrange);
}

.js-code {
	color: var(--colorBlue);
	padding-left: calc(var(--spaceNormal) * 3);
}

.js-var {
	color: var(--colorOrange);
}

.js-reserved {
	color: #a50055;
	font-weight: bold;
}