.page-content {
	padding: var(--spaceNormal);
	box-sizing: border-box;
}

.gist {
    padding: calc(var(--spaceNormal));
    border-radius: calc(var(--spaceNormal) / 3);
	color: var(--colorBlue);
	background-color: #11191e;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.js-code {
	color: var(--colorBlue);
	padding-left: calc(var(--spaceNormal) * 3);
}