
.header__title {
	position: absolute;
	font-family: var(--fontSerif);
	top: var(--spaceNormal);
	right: var(--spaceNormal);
	width: 40%;
}

.main-navigation {
	width: calc(var(--spaceNormal) * 16);
	margin: 0 0 0 var(--spaceNormal);
	border: var(--borderNone);
	border-right: var(--borderThin);
	border-image: var(--gradientBlueVertical) 1;
}

.main-navigation a {
	display: block;
	font-family: var(--fontSansSerif);
}

.button {
	color: white;
	display: inline-block;
	padding: calc(var(--spaceNormal) / 2);
	border-radius: calc(var(--spaceNormal) / 2);
	background-color: var(--colorBlueDark);
	margin: var(--spaceNormal);
}