.header__title {
	position: absolute;
	top: var(--spaceNormal);
	right: var(--spaceNormal);
	width: 40%;
}

.main-navigation {
	@apply(--borderNone);
	
	width: calc(var(--spaceNormal) * 16);
	margin: 0 0 0 var(--spaceNormal);
}

.main-navigation a {
	@apply(--fontSansSerif);
	
	display: block;
}

.button {
	color: white;
	display: inline-block;
	font-size: calc(var(--spaceNormal) * 1.3);
	padding: calc(var(--spaceNormal) * 0.5);
	border-radius: calc(var(--spaceNormal) * 0.5);
	background-color: var(--colorBlueDark);
	margin: var(--spaceNormal);
}

.page-content {
	padding: var(--spaceNormal);
	box-sizing: border-box;
}

.gist {
	@apply(--fontMonospace);
	
	padding: calc(var(--spaceNormal));
	border-radius: calc(var(--spaceNormal) * 0.3);
	color: var(--colorBlue);
	background-color: var(--colorBlueMedium);
	
	font-size: calc(var(--spaceNormal) * 1.3);
	text-shadow: 0.1rem 0.1rem 0.1rem var(--colorDark);
}

.js-code {
	color: var(--colorBlue);
	padding-left: calc(var(--spaceNormal) * 3);
}