:root {
	font-size: 62.5%;
	
	--colorDark: #101;
	--fontSerif: "Lora", serif;
	--fontSansSerif: "Source Sans Pro", sans-serif;
}

html {
	height: 100%;
	overflow: hidden;
	font-size: 1.6rem;
	background-color: var(--colorDark);
}

body {
	height: 100%;
	max-width: 150rem;
	margin: 0;
	
	overflow: auto;
	position: relative;
	
	color: #DDD;
	font-size: 2rem;
	background-color: var(--colorDark);
	
	font-family: var(--fontSerif);
	-webkit-font-smoothing: antialiased;
}

main {
	height: 100%;
}