:root {
	font-size: 62.5%;
}

html {
	height: 100%;
	overflow: hidden;
	font-size: 1.6rem;
	background-color: #FFF;
}

body {
	width: 99.5%;
	height: 99%;
	margin: 0.5% 0.25%;
	
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	
	background-color: #101;
	
	overflow: auto;
	position: relative;

	color: #BBB;
	font-size: 2rem;

	font-kerning: none;
	font-family: 'Lora',serif;
}

main{
	height: 100%;
}

article{
	color: white;
}

h1,h2,h3 {
	margin: 1rem 0;
	font-weight: normal;
}

h1 {
	font-size: 2.6rem;
	color: dimgrey;
}

h2 {
	font-size: 2.2rem;
	color: orangered;
	border-bottom: 0.1rem solid;
}

h3 {
	color: orange;
	font-size: 2rem;
}


a {
	font-family: "Source Sans Pro", sans-serif;
	color: cornflowerblue;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}

a.active {
	color: #142a41;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

dt {
	color: #66b5b5;
	font-style: italic;
}

dd {
	margin-left: 2rem;
}

.header__title {
	position: absolute;
	top: 2rem;
	right: 3rem;
	margin: 0;
	color: orange;
}

.main-navigation {
	width: 14rem;
	margin: 0 0 0 1rem;
}

.main-navigation a {
	display: block;
	font-size: 2rem;
	line-height:3rem;
}

.page-content {
	padding:1rem;
	box-sizing: border-box;
}