:root {
	font-size: 62.5%;
	
	--spaceNormal: 1rem;
	--borderThin: 0.1rem solid;
	
	--colorTextLight: white;
	--colorTextMedium: #C4C8CA;
	--colorTextDark: #7A7D80;
	
	--colorLight: #B9B1C1;
	--colorMedium: #220022;
	--colorDark: #110011;
	
	--colorBlue: #6495ED;
	--colorBlueMedium: #0B598D;
	--colorBlueDark: #11191E;
	
	--colorOrange: #FFA500;
	--colorOrangeDark: #7E5300;
	
	--colorOrangeRed: #FF4500;
	--colorOrangeRedDark: #7C2200;
	
	--gradientHorizontalOrange: linear-gradient(90deg, var(--colorDark), var(--colorOrangeDark) 2%, var(--colorDark) 20%);
	--gradientHorizontalShortOrange: linear-gradient(90deg, var(--colorDark), var(--colorOrange) 3%, var(--colorDark) 14%);
	
	--gradientHorizontalBlue: linear-gradient(90deg, var(--colorBlueMedium), var(--colorBlue) 5%, var(--colorDark) 20%);
	--gradientHorizontalShortBlue: linear-gradient(90deg, var(--colorBlue), var(--colorBlueDark) 3%, var(--colorDark) 14%);
	
	--fontSerif: "Lora", serif;
	--fontSansSerif: "Source Sans Pro", sans-serif;
	--fontMonospace: "monospace";
	
	--borderNone: 0 none;
	--fullHeight: 100%;
	--fontNormal: normal;
}

html {
	height: var(--fullHeight);
	font-size: 1.6rem;
	background-color: var(--colorDark);
}

body {
	font-family: var(--fontSerif);
	max-width: calc(var(--spaceNormal) * 150);
	margin: 0;
	
	overflow: auto;
	position: relative;
	
	color: #DDD;
	font-size: calc(var(--spaceNormal) * 2);
	
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	border: var(--borderNone);
	font-family: var(--fontNormal);
	margin: calc(var(--spaceNormal) * 2) 0;
}

h1 {
	color: var(--colorBlueMedium);
	font-size: calc(var(--spaceNormal) * 2.6);
	border-top: var(--borderThin);
	border-image: var(--gradientHorizontalShortBlue) 1;
}

h2 {
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 2.2);
	border-bottom: var(--borderThin);
	border-image: var(--gradientHorizontalOrange) 1;
}

h3 {
	color: var(--colorBlue);
	font-size: calc(var(--spaceNormal) * 2);
	margin-left: calc(var(--spaceNormal) * 2);
}

ul {
	
}

dl {
	border: var(--borderThin) var(--colorOrangeDark);
	border-radius: calc(var(--spaceNormal) * 0.5);
	background-color: var(--colorBlueDark);
}

dt {
	color: var(--colorOrange);
	font-size: calc(var(--spaceNormal) * 1.5);
	font-style: italic;
	margin-top: calc(var(--spaceNormal) * 1);
	margin-left: calc(var(--spaceNormal) * 1);
	margin-bottom: calc(var(--spaceNormal) * 1);
}

dd {
	font-size: calc(var(--spaceNormal) * 1.5);
	margin-left: calc(var(--spaceNormal) * 1);
	margin-bottom: calc(var(--spaceNormal) * 1);
}

a {
	font-family: var(--fontNormal);
	text-decoration: none;
	color: var(--colorBlue);
}

a:hover {
	color: var(--colorOrange);
}

a.active {
	color: var(--colorBlueMedium);
}

.header__title {
	position: absolute;
	top: var(--spaceNormal);
	right: calc(var(--spaceNormal) * 2);
	width: 40%;
}

.main-navigation {
	border: var(--borderNone);
	width: calc(var(--spaceNormal) * 16);
	margin-top: var(--spaceNormal);
	margin-left: var(--spaceNormal);
}

.main-navigation a {
	font-family: var(--fontSansSerif);
	display: block;
	width: auto;
}

.button {
	color: white;
	display: inline-block;
	font-size: calc(var(--spaceNormal) * 1.5);
	margin: calc(var(--spaceNormal) * 0.5);
	padding: calc(var(--spaceNormal) * 0.5);
	border-radius: calc(var(--spaceNormal) * 0.5);
	background-color: var(--colorBlueMedium);
}

.page-content {
	padding: var(--spaceNormal);
	box-sizing: border-box;
}

.list-plain {
	list-style: none;
}

.list-plain li p, .list-plain li code {
	font-family: var(--fontMonospace);
	font-size: calc(var(--spaceNormal) * 1.4);
	margin-top: 0;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.gist {
	font-family: var(--fontMonospace);
	padding: calc(var(--spaceNormal));
	border-radius: calc(var(--spaceNormal) * 0.3);
	color: var(--colorBlue);
	background-color: var(--colorBlueDark);
	
	font-size: calc(var(--spaceNormal) * 1.3);
	text-shadow: 0.1rem 0.1rem 0.1rem var(--colorDark);
}

.js-code {
	color: var(--colorBlue);
	padding-left: calc(var(--spaceNormal) * 3);
}